<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Crear user</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="sb-nav-fixed">
<div th:replace="~{fragments/header.html :: header}">...</div>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sidebar.html :: layoutSidevar}">...</div>

    <div id="layoutSidenav_content">
        <main>
            <div id="banner">
                <h1 th:text="${edit ? 'Editar Mock' : 'Crear Mock'}" class="display-5">Crear Mock</h1>
            </div>
            <div class="container-fluid px-4">
                <form id="mockForm">
                    <input type="hidden" id="mockID" th:value="${mock.id}" >

                    <div class="row g-3 mt-3">
                        <div class="col-12" th:if="${#lists.isEmpty(projects)}">
                            <label for="createProject" class="form-label" th:text="#{project}">Proyecto</label>
                            <div class="row" id="createProject">
                                <div class="col-1">
                                    <a  class="btn btn-primary" th:href="@{/projects/create}">Crear proyecto</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-3" th:unless="${#lists.isEmpty(projects)}">
                            <label for="project" class="form-label" th:text="#{project}">Proyecto</label>
                            <select class="form-select" id="project" required="" >
                                <option  th:text="#{choose}" disabled selected>Elige un proyecto...</option>
                                <option th:each="project: ${projects}"
                                        th:value="${project.id}"
                                        th:text="${project.name}"
                                        th:selected="${mock.project != null and project.id eq mock.project.id}"
                                >Nombre de proyecto</option>
                            </select>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="name" class="form-label" th:text="#{name}">Nombre</label>
                            <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-card-text"></i>
                                        </span>
                                <input type="text" class="form-control" id="name" placeholder="" value="" required="" th:value="${edit ? mock.name : ''}">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="description" class="form-label" th:text="#{description}">Descripción</label>
                            <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-chat-square-text"></i>
                                        </span>
                                <input type="text" class="form-control" id="description" th:placeholder="#{description_placeholder}" required="" th:value="${edit ? mock.description : ''}">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="endpoint" class="form-label">Endpoint</label>
                            <div class="input-group">
                                <span class="input-group-text">{hash}/api/</span>
                                <input type="text" class="form-control" id="endpoint" placeholder="" required="" th:value="${edit ? mock.endpoint : ''}">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label for="method" class="form-label" th:text="#{method}">Método</label>
                            <select class="form-select" id="method" required="" th:value="${edit ? mock.method : ''}">
                                <option value="" th:text="#{choose}">Elige...</option>
                                <option value="GET"  th:selected="${edit && mock.method == 'GET'}">GET</option>
                                <option value="POST" th:selected="${edit && mock.method == 'POST'}">POST</option>
                                <option value="PUT" th:selected="${edit && mock.method == 'PUT'}">PUT</option>
                                <option value="DELETE" th:selected="${edit && mock.method == 'DELETE'}">DELETE</option>
                                <option value="PATCH" th:selected="${edit && mock.method == 'PATCH'}">PATCH</option>
                                <option value="OPTIONS" th:selected="${edit && mock.method == 'OPTIONS'}">OPTIONS</option>
                            </select>
                        </div>

                        <div class="col-12 mb-3">
                            <label for="headers" class="form-label mb-3" th:text="#{headers}">Headers</label>
                            <div class="row" id="headers">
                                <div class="col-1">
                                    <button type="button" class="btn btn-outline-primary mb-3"  onclick="addHeader()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                        </svg>
                                        <span th:text="#{add}">Agregar</span>
                                    </button>
                                </div>
                            </div>


                            <div th:each="header, headerIdx : ${headersList}">
                                <div class="row">
                                    <div class="row header-row" id="header">
                                        <div class="col-sm-5 mb-3">
                                            <input id="key" aria-label="key" type="text" class="form-control" placeholder="Key" th:value="${header.key}" >
                                        </div>
                                        <div class="col-sm-5 mb-3">
                                            <input id="value" type="text" aria-label="value" class="form-control" placeholder="Value" th:value="${header.value}">
                                        </div>
                                        <div class="col-sm-2 mb-3">
                                            <button type="button" class="btn btn-outline-danger" onclick="removeHeader(this)">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6 mb-3">
                            <label for="responseStatus" class="form-label" th:text="#{response_status}">Response status</label>
                            <select class="form-select" id="responseStatus" required="" th:value="${edit ? mock.statusCode : 0}">
                                <option value="0" th:text="#{choose}">Elige...</option>
                                <option value="100" th:selected="${edit && mock.statusCode == 100}">100 - Continue</option>
                                <option value="101" th:selected="${edit && mock.statusCode == 101}">101 - Switching Protocols</option>
                                <option value="200" th:selected="${edit && mock.statusCode == 200}">200 - OK</option>
                                <option value="201" th:selected="${edit && mock.statusCode == 201}">201 - Created</option>
                                <option value="202" th:selected="${edit && mock.statusCode == 202}">202 - Accepted</option>
                                <option value="203" th:selected="${edit && mock.statusCode == 203}">203 - Non-Authoritative Information</option>
                                <option value="204" th:selected="${edit && mock.statusCode == 204}">204 - No Content</option>
                                <option value="205" th:selected="${edit && mock.statusCode == 205}">205 - Reset Content</option>
                                <option value="206" th:selected="${edit && mock.statusCode == 206}">206 - Partial Content</option>
                                <option value="300" th:selected="${edit && mock.statusCode == 300}">300 - Multiple Choices</option>
                                <option value="301" th:selected="${edit && mock.statusCode == 301}">301 - Moved Permanently</option>
                                <option value="302" th:selected="${edit && mock.statusCode == 302}">302 - Found</option>
                                <option value="303" th:selected="${edit && mock.statusCode == 303}">303 - See Other</option>
                                <option value="304" th:selected="${edit && mock.statusCode == 304}">304 - Not Modified</option>
                                <option value="305" th:selected="${edit && mock.statusCode == 305}">305 - Use Proxy</option>
                                <option value="307" th:selected="${edit && mock.statusCode == 307}">307 - Temporary Redirect</option>
                                <option value="400" th:selected="${edit && mock.statusCode == 400}">400 - Bad Request</option>
                                <option value="401" th:selected="${edit && mock.statusCode == 401}">401 - Authorization Required</option>
                                <option value="402" th:selected="${edit && mock.statusCode == 402}">402 - Payment Required</option>
                                <option value="403" th:selected="${edit && mock.statusCode == 403}">403 - Forbidden</option>
                                <option value="404" th:selected="${edit && mock.statusCode == 404}">404 - Not Found</option>
                                <option value="405" th:selected="${edit && mock.statusCode == 405}">405 - Method Not Allowed</option>
                                <option value="406" th:selected="${edit && mock.statusCode == 406}">406 - Not Acceptable</option>
                                <option value="407" th:selected="${edit && mock.statusCode == 407}">407 - Proxy Authentication Required</option>
                                <option value="408" th:selected="${edit && mock.statusCode == 408}">408 - Request Timeout</option>
                                <option value="409" th:selected="${edit && mock.statusCode == 409}">409 - Conflict</option>
                                <option value="410" th:selected="${edit && mock.statusCode == 410}">410 - Gone</option>
                                <option value="411" th:selected="${edit && mock.statusCode == 411}">411 - Length Required</option>
                                <option value="412" th:selected="${edit && mock.statusCode == 412}">412 - Precondition Failed</option>
                                <option value="413" th:selected="${edit && mock.statusCode == 413}">413 - Payload Too Large</option>
                                <option value="414" th:selected="${edit && mock.statusCode == 414}">414 - URI Too Long</option>
                                <option value="415" th:selected="${edit && mock.statusCode == 415}">415 - Unsupported Media Type</option>
                                <option value="416" th:selected="${edit && mock.statusCode == 416}">416 - Range Not Satisfiable</option>
                                <option value="417" th:selected="${edit && mock.statusCode == 417}">417 - Expectation Failed</option>
                                <option value="426" th:selected="${edit && mock.statusCode == 426}">426 - Upgrade Required</option>
                                <option value="428" th:selected="${edit && mock.statusCode == 428}">428 - Precondition Required</option>
                                <option value="429" th:selected="${edit && mock.statusCode == 429}">429 - Too Many Requests</option>
                                <option value="431" th:selected="${edit && mock.statusCode == 431}">431 - Request Header Fields Too Large</option>
                                <option value="451" th:selected="${edit && mock.statusCode == 451}">451 - Unavailable For Legal Reasons</option>
                                <option value="500" th:selected="${edit && mock.statusCode == 500}">500 - Internal Server Error</option>
                                <option value="501" th:selected="${edit && mock.statusCode == 501}">501 - Not Implemented</option>
                                <option value="502" th:selected="${edit && mock.statusCode == 502}">502 - Bad Gateway</option>
                                <option value="503" th:selected="${edit && mock.statusCode == 503}">503 - Service Unavailable</option>
                                <option value="504" th:selected="${edit && mock.statusCode == 504}">504 - Gateway Timeout</option>
                                <option value="505" th:selected="${edit && mock.statusCode == 505}">505 - HTTP Version Not Supported</option>
                                <option value="511" th:selected="${edit && mock.statusCode == 511}">511 - Network Authentication Required</option>
                            </select>
                        </div>


                        <div class="col-12 mb-3">
                            <div class="input-group">
                                <label for="contentType" class="input-group-text" th:text="#{content_type}">Content Type</label>
                                <select class="form-select" id="contentType" required="" th:value="${edit ? mock.contentType : ''}">
                                    <option value="application/json" th:selected="${edit && mock.contentType == 'application/json'}">application/json</option>
                                    <option value="application/xml" th:selected="${edit && mock.contentType == 'application/xml'}">application/xml</option>
                                    <option value="text/xml" th:selected="${edit && mock.contentType == 'text/xml'}">text/xml</option>
                                    <option value="text/json" th:selected="${edit && mock.contentType == 'text/json'}">text/json</option>
                                    <option value="text/plain" th:selected="${edit && mock.contentType == 'text/plain'}">text/plain</option>
                                    <option value="other" th:selected="${edit && mock.contentType == 'other'}">other</option>
                                </select>
                            </div>
                        </div>


                        <div class="mb-3 mb-3">
                            <label for="responseBody" class="form-label" th:text="#{response_body}">Response body</label>
                            <textarea class="form-control" id="responseBody" rows="6" th:text="${edit ? mock.body : ''}"></textarea>
                        </div>


                        <div class="col-sm-6 mb-3">
                            <label for="expirationTime" class="form-label" th:text="#{expiration_time}">Tiempo de expiración</label>
                            <select class="form-select" id="expirationTime" required="" th:value="${edit ? mock.expirationDate : ''}" th:disabled="${edit}">
                                <option value="year" th:selected="${edit && mock.expirationDate == 'year'}">1 año</option>
                                <option value="month" th:selected="${edit && mock.expirationDate == 'month'}">1 mes</option>
                                <option value="week" th:selected="${edit && mock.expirationDate == 'week'}">1 semana</option>
                                <option value="day" th:selected="${edit && mock.expirationDate == 'day'}">1 día</option>
                                <option value="hour" th:selected="${edit && mock.expirationDate == 'hour'}">1 hora</option>
                            </select>
                        </div>


                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="delayResponseTime" th:text="#{delay}">Demora de respuesta (segundos)</label>
                            <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-hourglass-top"></i>
                                        </span>
                                <input type="number" class="form-control" id="delayResponseTime" placeholder="Tiempo de demora" th:value="${edit ? mock.delay : ''}">
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="validateJWTCheck" th:checked="${edit ? mock.validateJWT : false}" th:disabled="${edit}">
                                <label class="form-check-label" for="validateJWTCheck" th:text="#{validate_jwt}" >Validar vía JWT</label>
                            </div>
                        </div>
                    </div>
                    <button class="w-100 btn btn-primary btn-lg mt-5"
                            type="button"
                            th:text="#{create}"
                            th:if="${!edit}"
                            th:onclick="createMock()">
                    </button>

                    <button class="w-100 btn btn-primary btn-lg mt-5"
                            type="button"
                            th:text="${edit ? 'Guardar Cambios' : 'Crear'}"
                            th:if="${edit}"
                            th:onclick="updateMock()">
                    </button>

                </form>
            </div>
        </main>
        <!-- Footer-->
        <div th:replace="~{fragments/footer.html :: footer}"></div>
    </div>
</div>

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

<script th:inline="javascript">
    function addHeader() {
        var headersDiv = document.getElementById("headers");
        var newHeaderDiv = document.createElement("div");
        newHeaderDiv.classList.add("row");
        newHeaderDiv.classList.add("header-row"); // Add a class to identify header rows
        newHeaderDiv.id = "header";

        var keyDiv = document.createElement("div");
        keyDiv.classList.add("col-sm-5");
        keyDiv.classList.add("mb-3");
        var keyInput = document.createElement("input");
        keyInput.id = "key";
        keyInput.type = "text";
        keyInput.classList.add("form-control");
        keyInput.placeholder = "Key";
        keyInput.required = true;
        keyInput.setAttribute("aria-label", "key");
        keyDiv.appendChild(keyInput);

        var valueDiv = document.createElement("div");
        valueDiv.classList.add("col-sm-5");
        valueDiv.classList.add("mb-3");
        var valueInput = document.createElement("input");
        valueInput.id = "value";
        valueInput.type = "text";
        valueInput.classList.add("form-control");
        valueInput.placeholder = "Value";
        valueInput.required = true;
        valueInput.setAttribute("aria-label", "value");
        valueDiv.appendChild(valueInput);

        var deleteButtonDiv = document.createElement("div");
        deleteButtonDiv.classList.add("col-sm-2");
        deleteButtonDiv.classList.add("mb-3");
        var deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.classList.add("btn");
        deleteButton.classList.add("btn-outline-danger");
        deleteButton.textContent = "Eliminar";
        deleteButton.onclick = function() {
            headersDiv.removeChild(newHeaderDiv); // Remove the current header row when delete button is clicked
        };
        deleteButtonDiv.appendChild(deleteButton);

        newHeaderDiv.appendChild(keyDiv);
        newHeaderDiv.appendChild(valueDiv);
        newHeaderDiv.appendChild(deleteButtonDiv);

        headersDiv.appendChild(newHeaderDiv);
    }
    function prepareHeaders() {
        // Obtener los datos de los headers del formulario
        var headerRows = document.getElementsByClassName("header-row");
        var headers = {};

        for (var i = 0; i < headerRows.length; i++) {
            var keyInput = headerRows[i].querySelector('[placeholder="Key"]');
            var valueInput = headerRows[i].querySelector('[placeholder="Value"]');

            // Obtener el valor de la clave y el valor
            var key = keyInput.value.trim();
            var value = valueInput.value.trim();

            // Agregar la clave y el valor al objeto de headers si no están vacíos
            if (key !== "" && value !== "") {
                headers[key] = value;
            }
        }
        return  JSON.stringify(headers);
    }

</script>

<script>
    function removeHeader(button) {
        // Obtener el div padre de la fila actual
        var headerRow = button.closest('.header-row');
        // Remover el div padre (la fila completa) del DOM
        headerRow.remove();
    }
</script>

<script th:inline="javascript">
    function createMock() {
        console.log("Creando mock...");

        var mockData = {
            name: $('#name').val(),
            description: $('#description').val(),
            endpoint: $('#endpoint').val(),
            method: $('#method').val(),
            statusCode: $('#responseStatus').val(),
            contentType: $('#contentType').val(),
            body: $('#responseBody').val(),
            projectId: $('#project').val() || '',
            expirationDate: $('#expirationTime').val(),
            validateJWT: $('#validateJWTCheck').is(':checked'),
            delay: $('#delayResponseTime').val(),
            headers: prepareHeaders(), // Utilizar la función que prepara los encabezados
        };

        console.log(mockData);

        $.ajax({
            type: 'POST',
            url: '/mocks/create',
            contentType: 'application/json',
            data: JSON.stringify(mockData),
            success: function (response) {
                console.log("ENTRO A SUCCESS")
                Swal.fire({
                    icon: 'success',
                    title: 'Mock Creado exitosamente',
                    showConfirmButton: true  // Eliminar el temporizador
                }).then((result) => {
                    // Redirigir a la vista de mocks al hacer clic en "OK"
                    if (result.isConfirmed) {
                        window.location.href = "/mocks/"+response.id;
                    }
                });
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error al crear el mock',
                    text: error.responseText,
                    showConfirmButton: true  // Eliminar el temporizador
                });
            }
        });
    }

    function updateMock() {
        console.log("Actualizando mock...");

        var mockData = {
            name: $('#name').val(),
            description: $('#description').val(),
            endpoint: $('#endpoint').val(),
            method: $('#method').val(),
            statusCode: $('#responseStatus').val(),
            contentType: $('#contentType').val(),
            body: $('#responseBody').val(),
            projectId: $('#project').val() || '',
            expirationDate: $('#expirationTime').val(),
            delay: $('#delayResponseTime').val(),
            headers: prepareHeaders(), // Utilizar la función que prepara los encabezados
        };

        console.log(mockData);

        var id = $('#mockID').val()

        Swal.fire({
            title: "¿Estás seguro de actualizar este Mock?",
            text: "Los datos del mock \"" + mockData.name + "\" se actualizarán.",
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: 'Actualizar mock'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'PUT',
                    url: '/mocks/edit/' + id,
                    contentType: 'application/json',
                    data: JSON.stringify(mockData),
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: '¡Mock actualizado con éxito!',
                            text: response,
                        }).then(() => {
                            window.location.href = "/mocks";
                        });
                    },
                    error: function (xhr) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error al actualizar el proyecto',
                            text: xhr.responseText,
                        });
                    }
                });
            }
        });
    }
</script>

</body>
</html>
