<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>400</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/errorStyle.css" />
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>
	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<img src="/assets/img/errors/400-Error-Bad-Request-cuate-wpadding.svg" alt="Error 400">
			<div class="notfound-404">
				<h1>400</h1>
			</div>
			<p>Solicitud incorrecta. La solicitud no pudo ser entendida o está mal formada.</p>
			<a href="/" class="home-btn">Volver</a>
		</div>
	</div>
</body>

</html>
